.settings-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: var(--body-margin);
  right: var(--body-margin);
  z-index: 20;
  padding: 5px;
  background-color: var(--google-button-bg-color);
  backdrop-filter: blur(var(--blur-amount));
  border-radius: var(--border-radius);
  cursor: pointer;
  box-shadow: var(--text-shadow);
  transition: all 0.3s ease;
  .anticon svg {
    font-size: var(--anticon-size);
    opacity: 0.7;
    transition: all 0.3s ease;
  }
  &:hover,
  &.active {
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
    .anticon svg {
      transform: rotate(-90deg) scale(0.9);
      opacity: 1;
    }
  }
}
$settings-margin: 15px;
$settings-padding: 15px;
.settings-panel {
  position: absolute;
  border-radius: 50px 0 0 50px;
  top: $settings-margin;
  right: 0;
  width: 50svw;
  min-width: 400px;
  max-width: 500px;
  z-index: 19;
  padding: $settings-padding * 2 $settings-padding;
  height: calc(100vh - $settings-margin * 2 - $settings-padding * 2);
  max-height: calc(100vh - $settings-margin * 2 - $settings-padding * 2);
  backdrop-filter: blur(var(--blur-amount));
  background-color: var(--google-app-bg-color);
  color: var(--primary-text-color);
  text-shadow: var(--text-shadow);
  overflow: auto;
  transition: all 0.3s ease;
  .title {
    background: var(--settings-title-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 10px;
    text-align: center;
    font-size: 1.7rem;
    margin-top: 0;
    margin-bottom: $settings-padding;
  }
  &.full {
    top: 0;
    overflow: auto;
    border-radius: 0;
  }
  @media screen and (max-width: 768px) {
    min-width: calc(100vw - var(--scrollbar-width) * 3) !important;
    width: calc(100vw - var(--scrollbar-width)) !important;
  }
}
.ant-collapse {
  &-header {
    padding: $settings-padding 0 !important;
    // padding-bottom: $settings-padding !important;
    font-weight: 700;
    outline: none !important;
    border: none !important;
    font-size: 1.3rem !important;
    align-items: center !important;
    background: var(--settings-title-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    .ant-collapse-expand-icon {
      padding-top: 3px !important;
      padding-right: calc($settings-padding / 2) !important;
      color: var(--settings-check-color) !important;
    }
  }
  &-content-box {
    padding: 0 $settings-padding !important;
  }
}
