.todo-wrapper {
  position: absolute;
  height: auto;
  top: calc(var(--body-margin) - 5px);
  left: var(--body-margin);
  height: calc(100vh - var(--body-margin) * 5 - 68px);
  z-index: 1;
  @media screen and (max-width: 768px) {
    display: none;
  }
  .todo-container {
    box-shadow: var(--box-shadow);
    width: max(155px, min(20vw, 300px));
    height: 100%;
    backdrop-filter: blur(var(--blur-amount));
    padding-top: 68px;
    border-radius: var(--border-radius);
    background-color: var(--todo-bg-color);

    .todo-header {
      position: absolute;
      padding: 5px 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 55px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      border-bottom: 3px var(--todo-border-color) solid;
      background-color: #f7dc56;
      background: linear-gradient(180deg, #f7dc56 0%, #f1bd0f 100%);

      h2,
      h4 {
        background: var(--city-text-color);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: var(--text-title-shadow);
        margin: 0;
        font-weight: 900;
      }
      h4 {
        font-weight: 700;
        opacity: 0.8;
        margin-top: 5px;
      }
    }
    .todo-tasks {
      padding: 5px 8px;
      height: 100%;
      overflow: auto;
      .todo-task {
        border-bottom: 1px dashed var(--todo-border-color);
        padding: 8px 0;
        transition: all 0.2s ease-in-out, padding 0.8s ease-in-out;
        .todo-text {
          word-wrap: break-word;
          white-space: pre-wrap;
          word-break: keep-all;
        }
        .todo-task-date {
          color: var(--secondary-text-color);
          position: absolute;
          top: 50%;
          opacity: 0;
          right: 4px;
          transform: translateY(-50%);
          font-size: 12px;
        }
        &.todo-with-date {
          padding-right: 80px;
          transition: all 0.2s ease-in-out;
        }

        .ant-checkbox {
          margin-right: 8px;
        }
        .ant-checkbox-inner {
          background: var(--todo-checkbox-color);
          border-color: var(--todo-checkbox-checked-color) !important;
          &:after {
            border-color: rgba(0, 0, 0, 0.88) !important;
          }
        }
        .ant-checkbox-checked .ant-checkbox-inner {
          background: var(--todo-checkbox-checked-color) !important;
        }
        &.completed {
          opacity: 0.4;
          * {
            text-decoration: line-through !important;
          }
        }
      }
      .ant-divider {
        border-color: var(--todo-border-color);
        &-inner-text {
          color: var(--primary-text-color);
        }
      }
    }
    .todo-task-add {
      position: absolute;
      bottom: 10px;
      outline: none !important;
      border: none !important;
      border-radius: var(--border-radius) !important;
      backdrop-filter: blur(var(--blur-amount));
      background: rgba(var(--todo-button-color), 0.9) !important;
      color: rgba(0, 0, 0, 0.88) !important;
      right: 10px;
      box-shadow: var(--text-shadow);
      z-index: 2;
      .anticon {
        transition: all 0.3s ease;
        opacity: 0.7;
      }
      &:hover,
      &.active {
        background: rgba(var(--todo-button-color), 1) !important;
        box-shadow: var(--box-shadow);
        transform: scale(1.04);
        .anticon {
          opacity: 1;
          transition: all 0.3s ease;
          transform: rotate(-90deg) scale(0.96);
        }
      }
    }
    .todo-task-clear {
      position: absolute;
      bottom: 20px + 32px;
      outline: none !important;
      border: none !important;
      border-radius: var(--border-radius) !important;
      backdrop-filter: blur(var(--blur-amount));
      background: rgba(var(--todo-button-clear-color), 0.8) !important;
      color: rgba(255, 255, 255, 0.88) !important;
      right: 10px;
      box-shadow: var(--text-shadow);
      z-index: 2;
      .anticon {
        transition: all 0.3s ease;
      }
      &:hover,
      &.active {
        background: rgba(var(--todo-button-clear-color), 1) !important;
        box-shadow: var(--box-shadow);
        transform: scale(1.04);
        .anticon {
          transition: all 0.3s ease;
          transform: scale(1.2);
        }
      }
    }
  }
}
.ant-popover-content {
  .ant-popover-inner {
    padding: 18px;
    padding-top: 14px;
    backdrop-filter: blur(var(--blur-amount)) !important;
    border-radius: var(--border-radius);
    .ant-popover-title {
      color: var(--primary-text-color) !important;
      font-size: 16px;
      text-shadow: var(--text-shadow);
      margin-bottom: 16px;
    }
    .todo-task-add-popover {
      button {
        width: 100%;
      }
      input,
      .ant-picker {
        width: 100%;
        border-radius: var(--border-radius) !important;
        border: none !important;
        background: rgba(255, 255, 255, 0.2) !important;
        color: var(--primary-text-color) !important;
        box-shadow: var(--text-shadow);
        &:hover,
        &:focus,
        &:focus-within {
          background: rgba(255, 255, 255, 0.4) !important;
        }
      }
    }
  }
}
