.bg,
.bg-filter {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  inset: 0;
  transition: background-image 0.5s ease-in-out;
  z-index: -2;
  &.bg-filter {
    background-color: var(--body-bg-filter-color);
    background: linear-gradient(
      to bottom,
      var(--body-bg-filter-color) 80%,
      #000000 110%
    );

    z-index: -1;
  }
}
.filter-blur {
  filter: blur(var(--blur-amount)) !important;
}
.backdrop-blur {
  backdrop-filter: blur(var(--blur-amount));
}
.animate__scaleIn {
  transform: scale(0);
  animation: scale_in 0.8s ease-in-out forwards;
}
.animate__scaleOut {
  transform: scale(1);
  animation: scale_out 0.8s ease-in-out forwards;
}
@keyframes scale_in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scale_out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes blur_in {
  0% {
    filter: blur(var(--blur-amount));
  }
  100% {
    filter: blur(0);
  }
}
@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
